[submodule "learning/awesome-database-learning"]
	path = learning/awesome-database-learning
	url = https://github.com/pingcap/awesome-database-learning
[submodule "database/ClickHouse"]
	path = database/ClickHouse
	url = https://github.com/ClickHouse/ClickHouse

[submodule "database/doris"]
	path = database/doris
	url = https://github.com/apache/doris
